<%- include("partials/_header") %> 
        <!-- Navigation-->
        <%- include("partials/_navigation")  %> 
        <!-- Masthead-->
        <%- include("partials/_slider") %> 

        <!-- About Section-->
        <section class="page-section bg-light text-black mb-0" id="about">
          <div class="container">
              <!-- About Section Heading-->
              <h2 class="page-section-heading text-center text-uppercase text-black">About Me</h2>
              <!-- Icon Divider-->
              <div class="divider-custom divider-black">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
              </div>
              <!-- About Section Content-->
              <div class="row">
                  <div class="col-lg-4 ms-auto"><p class="lead">I graduated from Yıldız Technical University in 2014.
                    I worked as a Technical Sales Engineer in 2014. And this experience give me opportunity to imporove my communication skills.
                    Then, I worked at FORD Motor Company as a Dynometer and Calibration Engineer from 2015 to 2018. In this company, I was organising teams to carry out calibration project and I made code in Matlab for automation tools
                  </p></div>
                  <div class="col-lg-4 me-auto"><p class="lead">
                    Then, I worked at Trabzon Technology Development Zone as a Project Engineer, Manager and Technolgy Transfer Specialist. I made strong link with start-up firms in this experience.
                    love coding. And I am a member of kodla.co. I have interested in coding swift for 3 years.
                    I am keen on my freedom
                  </p></div>
              </div>
          </div>
      </section>


<%- include("partials/_footer")  %> 